$breakpoint-tablet: 768px;
$breakpoint-smartphone: 480px;

$primary-color: #0056b3;
$secondary-color: #007bff;
$background-color: #f4f4f4;
$header-color: #333;

$font-size-base-desktop: 1.2rem;
$font-size-base-tablet: 1.15rem;
$font-size-base-smartphone: 1.1rem;

$font-size-h2-desktop: 2.0rem;
$font-size-h2-tablet: 1.8rem;
$font-size-h2-smartphone: 1.7rem;

$font-size-h3-desktop: 1.5rem;
$font-size-h3-tablet: 1.4rem;
$font-size-h3-smartphone: 1.3rem;