@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-size: $font-size-base-desktop;

  h2 {
    font-size: $font-size-h2-desktop;
  }

  h3 {
    font-size: $font-size-h3-desktop;
  }

  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-base-tablet;

    h2 {
      font-size: $font-size-h2-tablet;
    }

    h3 {
      font-size: $font-size-h3-tablet;
    }
  }

  @media (max-width: $breakpoint-smartphone) {
    font-size: $font-size-base-smartphone;

    h2 {
      font-size: $font-size-h2-smartphone;
    }

    h3 {
      font-size: $font-size-h3-smartphone;
    }
  }
}

header {
  grid-area: header;
  background-color: $header-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  font-size: calc($font-size-base-desktop * 1.1);

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

    a {
      text-decoration: none;
      color: white;
    }
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 6px 30px;
    font-size: calc($font-size-base-tablet * 1.1);

    a img {
      width: 160px;
      height: 50px;
    }

    nav ul {
      gap: 15px;
    }
  }

  @media (max-width: $breakpoint-smartphone) {
    flex-direction: column;
    gap: 10px;
    font-size: calc($font-size-base-smartphone * 1.1);

    a img {
      width: 144px;
      height: 45px;
    }

    nav ul {
      gap: 25px;
    }
  }
}

main {
  grid-area: main;
  background-color: $background-color;
}

footer {
  grid-area: footer;
  background-color: $header-color;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 30px;

  .social-media {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .social-icons,
  .legal-links {
    display: flex;
    gap: 10px;
  }

  .bi {
    color: white;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }
  }

  .legal-links a {
    color: white;
    text-decoration: none;
  }

  @media (max-width: $breakpoint-tablet) {
    gap: 15px;
    padding: 20px;

    .social-media,
    .social-icons,
    .legal-links {
      gap: 9px;
    }
  }

  @media (max-width: $breakpoint-smartphone) {
    gap: 10px;
    padding: 10px;

    .social-media,
    .social-icons,
    .legal-links {
      gap: 8px;
    }
  }
}

.title-container {
  width: 100%;
  height: calc(100vh * 0.4);
  background: url('./../img/background-1.webp') center/cover no-repeat;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;

  h1 {
    font-size: 3.0rem;
  }

  h2,
  p {
    font-size: 1.6rem;
  }

  @media (max-width: $breakpoint-tablet) {
    gap: 8px;

    h1 {
      font-size: 2.6rem;
    }

    h2,
    p {
      font-size: 1.4rem;
    }
  }

  @media (max-width: $breakpoint-smartphone) {
    gap: 7px;

    h1 {
      font-size: 2.4rem;
    }

    h2,
    p {
      font-size: 1.3rem;
    }
  }
}

.services-section-container {
  background: url('./../img/background-2.webp') center/cover no-repeat;
  padding: 30px 10px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (max-width: $breakpoint-tablet) {
    padding: 20px 8px;
    gap: 40px;
  }

  @media (max-width: $breakpoint-smartphone) {
    padding: 10px 7px;
    gap: 30px;
  }
}

.services-header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: $breakpoint-tablet) {
    gap: 10px;
  }

  @media (max-width: $breakpoint-smartphone) {
    gap: 8px;
  }
}

.services-container {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-tablet) {
    padding: 0 20px;
    gap: 20px;
  }

  @media (max-width: $breakpoint-smartphone) {
    padding: 0 15px;
    gap: 15px;
  }
}

.service-card {
  background-color: $background-color;
  color: black;
  text-shadow: none;
  flex: 1 1 30%;
  min-width: 400px;
  max-width: calc(100% - 30px);
  /* 85px row1 + 220px row2 + 100px row3 + 40px row4 + 10px padding-top + 20px padding-bottom = 475px */
  height: 475px;
  border-radius: 10px;
  padding: 10px 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  /* Le dimensioni sono state definite in modo da garantire sempre l’allineamento delle card, indipendentemente
  dal numero di cards visualizzate in una singola riga (da 1 a 3). Ogni card è progettata per contenere titolo,
  img, descrizione e button, prevedendo anche un adeguato margine tra un contenuto e il successivo per
  migliorarne la resa grafica complessiva (es. 220px = 200px per l’immagine + 20px di margine) */
  grid-template-rows: 85px 220px 100px 40px;
  text-align: center;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h3 {
    margin: 10px 0;
    color: $primary-color;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: $breakpoint-tablet) {
    max-width: calc(100% - 20px);
    padding: 9px 18px 18px;
    height: 428px;
    grid-template-rows: 75px 198px 90px 38px;

    img {
      height: 180px;
    }

    h3 {
      margin: 8px 0;
    }
  }

  @media (max-width: $breakpoint-smartphone) {
    max-width: calc(100% - 15px);
    padding: 8px 15px 15px;
    height: 385px;
    grid-template-rows: 70px 165px 90px 37px;

    img {
      height: 150px;
    }

    h3 {
      margin: 7px 0;
    }
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: $secondary-color;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;

  &:hover {
    background-color: $primary-color;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 8px 10px;
  }

  @media (max-width: $breakpoint-smartphone) {
    padding: 7px 8px;
  }
}

.blog-section-container {
  background: url('./../img/background-2.webp') center/cover no-repeat;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @media (max-width: $breakpoint-tablet) {
    padding: 20px;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  @media (max-width: $breakpoint-smartphone) {
    padding: 10px;
    gap: 10px;
  }
}

.blog-post {
  background-color: $background-color;
  color: black;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    color: $primary-color;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  a {
    text-align: right;
    padding-right: 20px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 15px;
    gap: 8px;

    img {
      height: 180px;
    }

    a {
      padding-right: 15px;
    }
  }

  @media (max-width: $breakpoint-smartphone) {
    padding: 12px;
    gap: 7px;

    img {
      height: 160px;
    }

    a {
      padding-right: 12px;
    }
  }
}

.chi-siamo-container {
  background: url('./../img/background-2.webp') center/cover no-repeat;
  text-align: justify;
  line-height: 1.6;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  padding: 40px;

  figure {
    font-size: calc($font-size-base-desktop * 0.8);
  }

  h3 {
    padding-top: 20px;
    color: rgb(255, 145, 0);
  }

  ul {
    padding-left: 50px;
    padding-bottom: 20px;
  }

  @media (max-width: $breakpoint-tablet) {
    line-height: 1.5;
    gap: 40px;
    padding: 30px;

    figure {
      font-size: calc($font-size-base-tablet * 0.8);
    }

    h3 {
      padding-top: 10px;
    }

    ul {
      padding-left: 40px;
      padding-bottom: 10px;
    }
  }

  @media (max-width: $breakpoint-smartphone) {
    line-height: 1.4;
    gap: 30px;
    padding: 25px;

    figure {
      font-size: calc($font-size-base-smartphone * 0.8);
    }

    h3 {
      padding-top: 8px;
    }

    ul {
      padding-left: 30px;
      padding-bottom: 8px;
    }
  }
}

.presentazione {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;

  @media (max-width: $breakpoint-tablet) {
    gap: 10px;
    padding: 0 10px;
  }

  @media (max-width: $breakpoint-smartphone) {
    gap: 8px;
    padding: 0 8px;
  }
}

.people-section h2 {
  text-align: center;
  padding-bottom: 40px;

  @media (max-width: $breakpoint-tablet) {
    padding-bottom: 30px;
  }

  @media (max-width: $breakpoint-smartphone) {
    padding-bottom: 20px;
  }
}

.people-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (max-width: $breakpoint-tablet) {
    max-width: 600px;
    gap: 40px;
  }
}

.team-member {
  width: 70%;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;

  p {
    padding-top: 11px;
  }

  @media (max-width: $breakpoint-tablet) {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
      align-self: center;
    }

    p {
      padding-top: 10px;
    }
  }

  @media (max-width: $breakpoint-smartphone) {
    width: 90%;
    gap: 15px;

    p {
      padding-top: 9px;
    }
  }
}

.contact-form {
  background: url('./../img/background-2.webp') center/cover no-repeat;
  padding: 30px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .fieldset-dati,
    .fieldset-richiesta {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: 2px solid;

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    legend {
      font-size: calc($font-size-base-desktop * 1.3);
      text-align: center;
    }

    input,
    textarea,
    select {
      padding: 10px;
      border-radius: 6px;
      border: none;
      font-size: calc($font-size-base-desktop * 0.9);
    }

    button {
      background-color: $secondary-color;
      color: white;
      padding: 10px;
      border-radius: 6px;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $primary-color;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    padding: 25px;

    form {
      gap: 15px;

      .fieldset-dati,
      .fieldset-richiesta {
        padding: 15px;
        gap: 15px;

        div {
          gap: 8px;
        }
      }

      legend {
        font-size: calc($font-size-base-tablet * 1.3);
      }

      input,
      textarea,
      select {
        padding: 8px;
        font-size: calc($font-size-base-tablet * 0.9);
      }

      button {
        padding: 8px;
      }
    }
  }

  @media (max-width: $breakpoint-smartphone) {
    padding: 20px;

    form {
      gap: 12px;

      .fieldset-dati,
      .fieldset-richiesta {
        padding: 12px;
        gap: 12px;

        div {
          gap: 7px;
        }
      }

      legend {
        font-size: calc($font-size-base-smartphone * 1.3);
      }

      input,
      textarea,
      select {
        padding: 7px;
        font-size: calc($font-size-base-smartphone * 0.9);
      }

      button {
        padding: 7px;
      }
    }
  }
}